* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	padding: 25px;
	box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr 1fr;
  grid-template-areas: ". . Headline . ." "Momentaner-Wert Momentaner-Wert Chart Chart Chart" ". . Buttons . ." ". . . . .";
}

.Headline { grid-area: Headline; }

.Chart { grid-area: Chart; }

.Momentaner-Wert { grid-area: Momentaner-Wert; }

.Buttons { grid-area: Buttons; }